@model IEnumerable<Dominio.Core.Entidades.Empleado>

@{
    ViewBag.Title = "ListaTodoEmpleados";
}

<h2>ListaTodoEmpleados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th align="center">
            @Html.DisplayNameFor(model => model.codemp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomemp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coddis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_ing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codcargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eliminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codemp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomemp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coddis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_ing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codcargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eliminado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
