@model Dominio.Core.Entidades.Clientes

@{
    ViewBag.Title = "DeleteCliente";
}

<h2>DeleteCliente</h2>

<h3>Deseas borrar Al cliente?</h3>
<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coddis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coddis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccioncli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccioncli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dnicli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dnicli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celcli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celcli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contracli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contracli)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar ", "ListarCliente",null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
