@model IEnumerable<Dominio.Core.Entidades.Login>

@{
    ViewBag.Title = "Listado_Cliente";
}

<h2>Listado_Cliente</h2>

@if (Session["LogUser"] != null)
{
    <label>Bienvenido @Session["LogUser"].ToString()</label>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<a href="/Login/Cerrar_Sesion">Cerrar Sesion</a>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
